# Ignore Jetbrains IDE meta-files.
.idea

# Ignore test files.
.d.ts/tests
js/tests
ts/tests

# Ignore TypeScript files.
ts

# Ignore Git/GitHub files.
.github
.gitattributes
.gitignore

# Ignore documentation files.
docs
mkdocs.yml

# Ignore misc. files.
.npmignore
gulpfile.js
jest.config.js
